<h1>顧客の登録情報編集画面</h1>

  <div class="col-md-8 mx-auto">
    <div class ="row mb-3">
          <h4 class="text-center bg-light"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h4>
    </div>

    <%= form_with model: @customer, url:customers_path, local:true do |f| %>

      <table class ="table table-borderless">
          <tr>
            <th>会員ID</th><td><%= @customer.id %></td>
          </tr>
          <tr>
            <th>氏名</th></th><td><%= f.text_field :last_name %>　<%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <th>フリガナ</th><td><%= f.text_field :last_name_kana %>　<%= f.text_field :first_name_kana %></td>
          </tr>
          <tr>
            <th>郵便番号</th><td><%= f.text_field :postal_code %></td>
          </tr>
          <tr>
            <th>住所</th><td><%= f.text_field :address %></td>
          </tr>
          <tr>
            <th>電話番号</th><td><%= f.text_field :telephone_number %></td>
          </tr>
          <tr>
            <th>メールアドレス</th><td><%= f.text_field :email %></td>
          </tr>


      </table>

      <div class="">
        <%= f.submit '編集内容を保存', class: 'btn btn-success btn-md' %>
        <%= link_to "退会する", customers_unsubscribe_path, class: 'btn btn-danger btn-md' %>
      </div>

    <% end %>
  </div>


