<div class="col-md-8 mx-auto">

  <div class ="row mb-3 ml-5">
    <h4 class="text-center bg-light">マイページ</h4>
  </div>

  <div class="d-flex align-items-end mb-3 mt-3">

      <h5 class="mr-3">登録情報</h5>

      <%= link_to "編集する", customers_edit_path, class: 'btn btn-success btn-md' %>

  </div>


  <table class ="table table-bordered">
          <tr>
            <th class="table-secondary">氏名</th></th><td><%= @customer.last_name %>　<%= @customer.first_name %></td>
          </tr>
          <tr>
            <th class="table-secondary">フリガナ</th><td><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <th class="table-secondary">郵便番号</th><td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <th class="table-secondary">住所</th><td><%= @customer.address %></td>
          </tr>
          <tr>
            <th class="table-secondary">電話番号</th><td><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <th class="table-secondary">メールアドレス</th><td><%= @customer.email %></td>
          </tr>
      </table>

    <div class="d-flex align-items-end mb-3 mt-3">
      <h5 class="mr-3">配送先　</h5>
      <%= link_to "一覧を見る", about_path, class: 'btn btn-primary btn-md' %>
    </div>

    <div class="d-flex align-items-end mb-3 mt-3">
      <h5 class="mr-3">注文履歴</h5>
      <%= link_to "一覧を見る", about_path, class: 'btn btn-primary btn-md' %>
    </div>

</div>