<h1>カート内商品一覧画面(数量変更・カート削除の要素を含む)</h1>

<div class="col-md-8 mx-auto mt-4">
    <div class ="d-flex justify-content-between mb-3">
        <div>
          <h4 class="text-center bg-light">ショッピングカート</h4>
        </div>
        <div>
          <%= link_to "カートを空にする", cart_items_destroyall_path, method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger btn-sm' %>
        </div>

    </div>

    <table class ="table table-bordered">
    <thead class="thead-light">
      <tr　>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @sum = 0 %>
      <% @cart_items.each do |cart_item| %>
      <tr>
        <td>
          <%#= attachment_image_tag cart_item, :image, :fill, 50, 50, format: 'jpeg' %>
          <%= cart_item.item.name %>
        </td>
        <td><%= (cart_item.item.with_tax_price).floor %></td>
        <td>
          <%= form_with model: cart_item, url:cart_items_update_path(cart_item), local:true do |f| %>
            <!-- newで既に取得しているため、下記コードは必要ない-->
            <%#= f.hidden_field :item_id, value: cart_item.item_id %>
            <%= f.select :amount, *[1..10] %>
            <%= f.submit '変更', class: 'btn btn-success btn-sm' %>
          <% end %>
        </td>
        <td>
          <%= cart_item.subtotal %>
        </td>
        <td><%= link_to "削除する", cart_items_destroy_path(cart_item),method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger btn-sm' %></td>
        <% @sum +=  cart_item.subtotal %>
      </tr>
      <% end %>
    </tbody>

  </table>

  <div class="d-flex justify-content-between">
    <div><%= link_to "買い物を続ける", items_path, class: 'btn btn-primary btn-md' %></div>

    <div class="">
      <table class="table table-bordered">
      <tr>
        <th class="bg-light">合計金額</th><td><%= @sum %></td>
      </tr>
      </table>
    </div>

  </div>
  
  <div class="text-center"><%= link_to "情報入力に進む", orders_new_path, class: 'btn btn-success btn-md' %></div>


</div>