<div class="text-center">
  <%= flash[:error] %>
</div>


<div class="col-md-8 mx-auto mt-4">
    <div class ="row mb-3">
          <h4 class="text-center bg-light">ログイン</h4>
    </div>
    <div class ="row mb-3">
      <h6 class="text-center bg-light">会員の方はこちらからログイン</h6>
    </div>

  <div class="text-center">
    <%= form_with model: @customer, url: new_customer_session_path, local: true do |f| %>

    <table class ="table table-borderless text-center">
      <tr>
        <th class="text-right"><%= f.label :email, "メールアドレス" %></th><td class=""><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", size: "50" %></td>
      </tr>
      <tr>
        <th class="text-right"><%= f.label :password, "パスワード" %></th><td class=""><%= f.password_field :password, autocomplete: "current-password", size: "50" %></td>
      </tr>

    </table>

      <div class="actions mt-4">
        <%= f.submit "ログイン", class: 'btn btn-primary btn-md' %>
      </div>

    <% end %>

    <%#= render "admins/shared/links" %>
  </div>


  <div class ="row mb-3">
      <h6 class="text-center bg-light">会員登録がお済みでない方</h6>
  </div>

    <p>
        <%= link_to "こちら", new_customer_registration_path %>　から新規登録を行ってください。
    </p>

</div>